.deleteIcon {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid #e34655 !important;
    font-size: 40px;
    color: #e34655 !important;
    padding-top: 14px;
}

.delete-text {
    font-size: 30px;
    font-weight: 600;
}

.danger-button {
    background-color: #ce2837 !important;
    color: #fff;
    border: #ce2837 !important;
}

.special_modal .modal-content{
    /* background-color: #000; */
    /* color: #fff; */
 }

 /* .modal-backdrop {
    background-color: green;
  } */

  .addPlan {
      background-color: #556ee6;
      border-radius: 3px;
      padding: 8px;
      color: #fff;
      margin-bottom: 5px;
      cursor: pointer;
  }