.edit-icons{
    background-color: #556ee6;
    border-color: #556ee6;
    padding: 8px;
    border-radius: 8px;
    color: #fff;
}

.delete-icons{
    background-color: #fc544b;
    border-color:#fc544b;
    padding: 8px;
    border-radius: 8px;
    color: #fff;
}